@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #100D28; /* Color de fondo para todo el cuerpo del documento */
}

/*HEADER*/

.tamLogo {
    width: 150px;
}

.fuentesNav {
    font-size: 1.5rem;
    padding: 10px;
}

.encabezado {
    /* background-color: bisque; */
    border-top: solid 20px #8906E6;
}

nav li a{    
    text-decoration: none;
    margin: 15px;
    color: white;
    border-left: 1px solid #8906E6;
    border-right: 1px solid #8906E6;
    padding:0 15px;
}

a:hover {
    background-color: #C484F1;
    color: #fafafa;
}

/* TITULO */

.tituloSummary {
    background-color: #8906E6;
    color: white;
    text-align: center;
    font-weight: bold;
    text-transform: none;
    padding: 20px;
}

/* CARD RESUME SUMMARY */

.card-body {
    background-color: #4c09e8;
    color: white;
    text-align: center;
    text-transform: none;
    padding: 20px;
    border: none;
}

.titulo {
    font-weight: bold;
}

/*FOOTER*/

footer {
    background-color: #8906E6;
    color: #4c09e8;
}

footer ul li a {
    color: #fafafa!important;
}

.contenedor_img {
    margin: auto; /* Centra el contenedor horizontalmente con un margen superior e inferior */
    width: 500px; /* Ancho del contenedor */
    height: 300px; /* Altura del contenedor, igual al ancho para hacerlo cuadrado */
    border-radius: 15px; /* Da un borde ligeramente redondeado, ajusta este valor a tu gusto */
    overflow: hidden; /* Asegura que cualquier contenido que se desborde sea recortado */
}

.p_text {
    font-size: 2rem;
}

.footer_phrese {
    font-size: 1.5rem;
    color: white;
    text-align: center;
    font-weight: bold;
}

.p_text_titulo {
    font-size: 2rem;
    font-weight: bold;
}

.form-text {
    font-size: 2rem;
    color: white;
    text-align: center;
}

.form-label {
    font-size: 2rem;
    color: white;
    text-align: center;
}

.btn-custom-color {
    background-color: #8906E6; 
    border-color: white; 
}

/* BOTON SUBMIT */
.btn-custom-color {
    color: #ffffff;
}

/* HOVER SUBMIT CONTACT */
.btn-custom-color:hover {
    background-color: #C484F1; 
    border-color: white;
}



